<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>Users</title>

    <style>
      tr:nth-child(even) {
        background-color: #f2f2f2;
      }

      form {
        text-align: center;
      }
    </style>

</head>
<body>

<header class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-header" id="userHead">
            <div class="navbar-brand" id="usernameOnHeader">
            </div>
            <div class="navbar-brand">with roles</div>
            <div class="navbar-brand" id="rolesHeader">
            </div>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</header>
<br/>

<div class="container-fluid">
    <div class="row flex">
        <div class="col-md-2 ui-sortable">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                <a class="nav-link active" data-toggle="tab" href="#adminPanel" role="tab" aria-controls="v-pills-home"
                   aria-selected="true">Admin</a>

                <a class="nav-link" data-toggle="tab" href="#userPanel" role="tab"
                   aria-controls="v-pills-settings" aria-selected="false">User</a>
            </div>
        </div>

        <div class="col-md-10 column ui-sortable">
            <div class="tab-content" id="adminCont">
            <div class="tab-pane fade show active" id="adminPanel">

            <h1>Admin panel</h1>

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" id="usersTable" href="#admin" data-toggle="tab">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#newUser" data-toggle="tab">New User</a>
                </li>
            </ul>

            <div class="card">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="admin">
                        <h5 class="card-header">All users</h5>


                        <div class="card-body">
                            <div class="table">
                                <table class="table">

                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Age</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody id="adminTable">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>



                    <div class="tab-pane" id="newUser">
                        <h5 class="card-header">Add new user</h5>
                        <div class="card-body">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <form id="newUserForm" name="newUserForm">
                                        <div class="form-group">

                                            <label for="First">First name</label>
                                            <input type="text" class="form-control" name="firstName" id="First"/>


                                            <label for="Last">Last name</label>
                                            <input type="text" class="form-control" name="lastName" id="Last" />


                                            <label for="Ages">Age</label>
                                            <input type="number" class="form-control" name="ages" id="Ages"/>


                                            <label for="Email@">Email</label>
                                            <input type="text" class="form-control" name="email" id="Email@"/>


                                            <label for="Passwords">Password</label>
                                            <input type="text" class="form-control" name="password" id="Passwords"/>


                                            <label for="addRole">Role </label>
                                            <select class="form-control" multiple required id="addRole" name="role">

                                            </select>
                                            <br/>
                                            <br/>
                                            <button class="btn btn-success" type="submit" >Add new user</button>
                                        </div>

                                    </form>


                                </div>
                            </div>

                        </div>
                    </div>


                                        <div class="modal fade" id="editModal">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Edit user</h5>
                                                        <button class="close" data-dismiss="modal">x</button>
                                                    </div>
                                                    <form id="editForm">
                                                        <div class="modal-body">
                                                            <div class="container">
                                                                <div class="row justify-content-center">

                                                                    <div class="form-group">
                                                                        <fieldset disabled>
                                                                            <label for="id">ID</label>
                                                                            <input class="form-control" name="id" id="id" type="number">

                                                                        </fieldset>
                                                                        <br/>

                                                                        <label for="firstNameEdit">First name</label>
                                                                        <input type="text" class="form-control" name="firstName" id="firstNameEdit">
                                                                        <br/>

                                                                        <label for="lastNameEdit">Last name</label>
                                                                        <input type="text" class="form-control" name="lastName" id="lastNameEdit">
                                                                        <br/>

                                                                        <label for="ageEdit">Age</label>
                                                                        <input type="number" class="form-control" name="age" id="ageEdit">
                                                                        <br/>

                                                                        <label for="emailEdit">Email</label>
                                                                        <input type="text" class="form-control" name="email" id="emailEdit">
                                                                        <br/>

                                                                        <label for="passwordEdit">Password</label>
                                                                        <input type="text" class="form-control" name="password" id="passwordEdit">
                                                                        <br/>

                                                                        <label for="editRole">Role</label>
                                                                        <select class="custom-select" multiple name="rolesList" id="editRole">
                                                                        </select>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button class="btn btn-secondary" id="editBtn" data-dismiss="modal">Close</button>
                                                            <button class="btn btn-primary" type="submit">Edit</button>
                                                        </div>
                                                    </form>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="modal fade" id="deleteModal">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Delete user</h5>
                                                        <button class="close" data-dismiss="modal">x</button>
                                                    </div>
                                                    <form id="deleteForm">
                                                        <div class="modal-body">

                                                            <div class="container">
                                                                <div class="row justify-content-center">
                                                                    <fieldset disabled>
                                                                        <div class="form-group">

                                                                            <label for="deleteId">ID</label>
                                                                            <input type="number" class="form-control"
                                                                                   name="id"
                                                                                   id="deleteId">
                                                                            <br/>

                                                                            <label for="usernameDelete">First name</label>
                                                                            <input type="text" class="form-control"
                                                                                   name="username"
                                                                                   id="usernameDelete">
                                                                            <br/>

                                                                            <label for="lastNameDelete">Last name</label>
                                                                            <input type="text" class="form-control"
                                                                                   name="lastName"
                                                                                   id="lastNameDelete">
                                                                            <br/>

                                                                            <label for="ageDelete">Age</label>
                                                                            <input type="text" class="form-control"
                                                                                   name="age"
                                                                                   id="ageDelete">
                                                                            <br/>

                                                                            <label for="emailDelete">Email</label>
                                                                            <input type="text" class="form-control"
                                                                                   name="email"
                                                                                   id="emailDelete">
                                                                            <br/>

                                                                            <label>Role</label>
                                                                            <select class="custom-select" multiple id="deleteRole" name="role">

                                                                            </select>
                                                                        </div>
                                                                    </fieldset>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button class="btn btn-secondary" id="delBtn" data-dismiss="modal">Close</button>
                                                            <button class="btn btn-danger" type="submit">Delete</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>




</div>
</div>
</div>
                        <div class="tab-pane fade" id="userPanel">
                            <h1>
                                User information-page
                            </h1>
                        <h5 class="card-header">About user</h5>


                        <div class="card-body">
                            <div class="table">
                                <table class="table">

                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Age</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                    </tr>
                                    </thead>
                                    <tbody id="userBody">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


        </div>
        </div>
    </div>

</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script type="text/javascript"  src="/user.js"></script>
<script type="text/javascript"  src="/admin.js"></script>
<script type="text/javascript"  src="/addUser.js"></script>
<script type="text/javascript"  src="/delete.js"></script>
<script type="text/javascript"  src="/edit.js"></script>
</body>
</html>